<!DOCTYPE html>
<html>
<title>Fake Tweet</title>
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="{{ asset("/images/logo.png") }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="{{ asset("css/style.css") }}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>



<body class="w3-theme-l5">
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large" id="nav-manual" >
        <div class="w3-container">
        <a id="mobile-menu" class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="{{ path('main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" id="nav-title">FAKE TWEET</a>
            {% if is_granted("ROLE_USER") %}
        <a href="{{ path('main_page') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" id="nav1" title="Home"><i class="fa fa-home"></i></a>
        <a href="{{ path('all_user_tweets', {'id': app.user.id}) }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" id="nav2" title="Profile"><i class="fa fa-user"></i></a>
            <a id="nav-el-notif" href="{{ path("all_users") }}"><button id="notif-button" class="w3-button w3-padding-large allUsers" title="All users"><i class="fa fa-users"></i></button>
            <a href="{{ path("show_notifications") }}"><button id="notif-button1" class="w3-button w3-padding-large " id="nav4" title="Notifications"><i class="fa fa-bell"></i>
                    <span class="w3-badge w3-right w3-small" id="not-badge"><span id="notification-count"></span></span></button></a>
            <div id="search-form">
            <form class="search" action="{{ path("search") }}" method="get">
                <input name="q" placeholder="Search user..." type="search">
                <input type="hidden" name="token" value="{{ csrf_token('search') }}"/>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
        <a href="{{ path('security_logout') }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <p><span class="glyphicon glyphicon-log-out"></span></p>
        </a>
            <a href="{{ path('all_user_tweets', {'id': app.user.id}) }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" id="log-in-user" title="Log out">
                <p>{{ app.user.fullName }}</p>
            </a>
        {% else  %}
            <a href="{{ path('register') }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
                <p>Register</p>
            </a>
        <a href="{{ path('security_login') }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <p>Login</p>
        </a>
        {% endif %}
        </div>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    {% if is_granted("ROLE_USER") %}
    <a href="{{ path('main_page') }}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{{ path('main_page') }}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{{ path('all_user_tweets', {'id': app.user.id}) }}" class="w3-bar-item w3-button w3-padding-large">Profile</a>
    <a href="{{ path("all_users") }}" class="w3-bar-item w3-button w3-padding-large">All users</a>
    <a href="{{ path("show_notifications") }}" class="w3-bar-item w3-button w3-padding-large">Notifications</a>
    <a href="{{ path('security_logout') }}" class="w3-bar-item w3-button w3-padding-large">Logout</a>
    {% else %}
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Login</a>
        <a href="{{ path('security_login') }}" class="w3-bar-item w3-button w3-padding-large">Login</a>
    {% endif %}
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
        <div class="w3-row" id="srk">
        <!-- Left Column -->
        <div class="w3-col m3" id="left-side">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} " id='flash-message'>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block left %}
            {% endblock %}

            <!-- Middle Column -->
        <div class="w3-col m6" id="middleColumn">
            {% block middle %}
            {% endblock %}
        </div>

        <!-- Right Column -->
            {% block right %}
            {% endblock %}

            <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
{% block footer %}

<footer id="footer" class="w3-container w3-theme-d5">
    <center> <p>Powered by <a href="https://sreckokuz.github.io/online_CV/" target="_blank">Srecko</a></p></center>
</footer>

{% endblock %}
<script>
    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

    <script>
        {% if(is_granted('ROLE_USER')) %}
        function fetchNotificationCount() {
            var countHtml = document.getElementById('notification-count');
            //console.log(countHtml);
            var path = '{{ path("notification_count") }}';
                fetch(path, {'credentials': 'include'}).then(function (response) {
                response.json().then(function (json) {
                    if (json.notification>0) {
                        document.getElementById('notification-count').innerText = json.notification;
                    }
                    setTimeout(fetchNotificationCount, 5000)

                })
            }).catch(function () {
                console.log('Some error in notification script');
            })
        }
        fetchNotificationCount()
        {% endif %}

        // add active class to nav-menu if user us in current page
        var path = window.location.pathname.split("/").pop();
        // console.log(path);
        var target1 = document.getElementById('nav1');
        var target2 = document.getElementById('nav2');
        var target3 = document.getElementById('notif-button');
        var target4 = document.getElementById('notif-button1');
        {% if is_granted('ROLE_USER') %}
        if (path=='') {
            target1.classList.add('active-menu');
        }else if (path=='users'){
            target3.classList.add('active-menu');
        }
        else if (path=='show'){
            target4.classList.add('active-menu');
        }
        else if (path=='search'){
        }
        else {
            target2.classList.add('active-menu');
        }
        {% endif %}
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</body>
</html>
