<!DOCTYPE html>
<html>
<title>Twitter replication</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    #post {
        margin-top: 20px;
    }
    .w3-white, .w3-hover-white:hover {
        margin-top: 0px !important;
    }
    .post-right-buttons a {
        margin-right: 10px;
    }
    .post-right-buttons{
        position: absolute;
        right: 10px;
        bottom: 0px;
        float: right;
        display: inline-flex;
    }
    .post-right-buttons .w3-green {
        background-color: rgba(102,213,150) !important;
        margin: 5px;
    }
    .post-right-buttons .w3-red {
        background-color: rgba(255,102,113) !important;
    }

    .alert-success {
        animation:alert-success 10s forwards;
        bottom: 4px;
        position: fixed;
        right: 30px;
        padding:25px;
    }
    @keyframes alert-success {
        0%   {opacity: 1;}
        100% {opacity: 0; display:none;}
    }
    .alert-danger {
        animation:alert-danger 10s forwards;
        bottom: 4px;
        position: fixed;
        right: 30px;
        z-index: 10;
        padding:25px;
    }
    @keyframes alert-danger {
        0%   {opacity: 1;}
        100% {opacity: 0; display:none;}
    }
    #nav-manual{
        height: 49px;
        padding-left: 35px;
        padding-right: 20px;
        background: linear-gradient(to right, #745A85, #260737 );

    }
    #nav-manual a:hover {
        background-color: #4E2059 !important;
        color: white !important;
    }
    #nav-manual #notif-button:hover {
        background-color: #4E2059 !important;
        color: white !important;
    }
    #nav-title {
        background-color: #745A85 !important;
    }
    #nav-title:hover {
        background-color: #4E2059 !important;
        color: white !important;
    }
    #log-in-user {
        background-color: rgba(102,213,150);
    }
    .search{display: inline; width: 120px; height: 8px;}
        input{border:none;padding:10px;border-radius:20px; width: 120px; height: 6px; font-size: 15px; }
    button{border:none;border-radius:20px;}

    #search-form {
        padding: 10px;
        display: inline-block;
    }
    .glyphicon {
        top: 2px;
    }
    .w3-bar-item {
        text-decoration: none !important;
    }
    .w3-container a{
        text-decoration: none;
    }
    .w3-container a:hover{
        color: black;
    }
    #left-side{
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
    }
    #right-side{
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        padding: 0px 16px;
    }
    .w3-card{
        padding-top: 15px;
    }
    #button-fol-unf {
        font-size: 16px;
    }
    #button-fol-unf a:hover{
        color: white !important;
    }


    .chart {

        border-radius: 50%;
        width: 50%;
        height: 0;
        padding-top: 50%;
        float: left;
        padding-right: 20px;
    }
    .key {
        width: 50%;
        float: right;
        list-style: none;
        display: table;
        border-collapse: separate;
    }
    .key > li {
        display: table-row;
    }
    .key > li > * {
        display: table-cell;
        border-bottom: 12px solid #fff;
    }
    .percent {
        color: #fff;
        padding: 10px 2px;
        text-shadow: 0 0 1px #000;
        text-align: center;
    }
    .choice {
        padding-left: 10px;
    }
    .red {
        background: #f15854;
    }
    .gray {
        background: #4d4d4d;
    }
    .blue {
        background: #5da5da;
    }
    .yellow {
        background: #decf3f;
    }
    .purple {
        background: #b276b2;
    }
    .orange {
        background: #faa43a;
    }
    * {
        box-sizing: border-box;
    }


    #pie-chart-percent {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }



    .form-signin {
        margin-top: 10%;
    }
    .form-signin input{
        height: 40px;
    }
    .form-signin button {
        height: 40px;
        font-size: 16px;
    }
    #user  {
        margin-top: 2%;
    }
    #user input {
    height: 40px;
}
    #user .form-check-label {
        margin-top: 11px;
        margin-left: 10px;
    }

   #user #user_Register {
       font-size: 16px;
   }

    #post_Twitt {
        font-size: 14px;
        background-color: #B276B2;
        border: 2px solid white;
        border-radius: 25%;
        transition: transform .2s;
    }
    #post_Twitt:hover{
        border: 2px solid black;
        transform: scale(1.1);
    }
    #notif-button{
        border-radius: 0px;
        padding-right: 20px !important;
        color: white;
    }
    #notif-button:hover{
        background-color: white !important;
    }
    #notification-box{
        padding: 40px;
    }
    #notification-box .list-group-item {
        padding: 10px 50px;
    rgb(73,99,112)
    }
    #notification-box .btn {
        background-color:rgb(73,99,112);
        color: white;
        text-decoration: none;
    }
    #notification-box .btn:hover {
        background-color:white;
        color: black;
    }
    .w3-theme-d5 {
        background-color:#745A85 !important;
        margin: 3px
    }
    #not-badge {
        background-color: rgba(102,213,150) !important;
    }
    #colorElement{
        background-color: rgba(200,213,228);
        color: black;
    }
    #leftCardProfile{
        position: relative;
    }
    button:focus {outline:0;}
    #myModal .modal-header, .modal-body, .modal-footer {
        background-color: rgba(200,213,228);
        color: #205;
    }
    #myModal .btn-danger {
        background-color: rgba(255,102,113);
    }
    #myModal .btn-success
    {
        background-color: rgba(102,213,150);
    }

    #editProfile .modal-header {
        background-color: rgba(200,213,228);

    }
    #editProfile button:hover {
        border: 1px solid black;
    }
    #editProfile .btn-success
    {
        background-color: rgba(102,213,150);
    }
    #button-fol-unf
    {
        border: 3px solid;
        /*background-color: rgba(700,900,242);*/
    }
    #button-fol-unf:hover {
        color: white;
    }
    #middleColumn .w3-card {
        /*border: 1px solid #260737;*/
    }
    #pie-chart-percent strong{
        font-size: 13px;
    }
    #like {
        background-color: #745A85 !important;
    }
    #allert-dialog {
        background-color: rgb(226,205,234) !important;
        border: 2px solid #260737 !important;
    }
    #allert-dialog span{
        background-color: rgb(226,205,234) !important
    }

    #footer{
        margin-top: 50px;
        background: linear-gradient(to right, #745A85, #260737 ) !important;
        padding-top: 8px;
    }

    #footer-brake{
        bottom: 0px;
        height: 450px;
    }

</style>

<body class="w3-theme-l5">
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large" id="nav-manual" >
        <div class="w3-container">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="{{ path('main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" id="nav-title">FAKE TWIT</a>
        <a href="{{ path('main_page') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Home"><i class="fa fa-home"></i></a>
            {% if is_granted('ROLE_USER')%}
        <a href="{{ path('all_user_tweets', {'id': app.user.id}) }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Profile"><i class="fa fa-user"></i></a>
            {% else %}
            <a href="{{ path('main_page')}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Profile"><i class="fa fa-user"></i></a>
            {% endif %}
            <a href="{{ path("show_notifications") }}"><button id="notif-button" class="w3-button w3-padding-large " title="Notifications"><i class="fa fa-bell"></i>
                    <span class="w3-badge w3-right w3-small" id="not-badge"><span id="notification-count"></span></span></button></a>
            <div id="search-form">
            <form class="search" action="{{ path("search") }}" method="get">
                <input name="q" placeholder="Search user..." type="search">
                <input type="hidden" name="token" value="{{ csrf_token('search') }}"/>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div>
            {% if is_granted('ROLE_USER') %}
        <a href="{{ path('security_logout') }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <p><span class="glyphicon glyphicon-log-out"></span></p>
        </a>
            <a href="{{ path('all_user_tweets', {'id': app.user.id}) }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" id="log-in-user" title="Log out">
                <p>{{ app.user.fullName }}</p>
            </a>
        {% else  %}
            <a href="{{ path('register') }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
                <p>Register</p>
            </a>
        <a href="{{ path('security_login') }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <p>Login</p>
        </a>

        {% endif %}
        </div>
    </div>
</div>



<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
        <div class="w3-row" id="srk">
        <!-- Left Column -->
        <div class="w3-col m3" id="left-side">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} " id='flash-message'>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block left %}
            {% endblock %}

            <!-- Middle Column -->
        <div class="w3-col m6" id="middleColumn">
            {% block middle %}

            {% endblock %}
        </div>

        <!-- Right Column -->
            {% block right %}
            {% endblock %}


            <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
{% block footer %}

<footer id="footer" class="w3-container w3-theme-d5">
    <center> <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Srecko</a></p></center>
</footer>

{% endblock %}
<script>



    // // Accordion
    // function myFunction(id) {
    //     var x = document.getElementById(id);
    //     if (x.className.indexOf("w3-show") == -1) {
    //         x.className += " w3-show";
    //         x.previousElementSibling.className += " w3-theme-d1";
    //     } else {
    //         x.className = x.className.replace("w3-show", "");
    //         x.previousElementSibling.className =
    //             x.previousElementSibling.className.replace(" w3-theme-d1", "");
    //     }
    // }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

    <script>
        {% if(is_granted('ROLE_USER')) %}
        function fetchNotificationCount() {
            var countHtml = document.getElementById('notification-count');
            //console.log(countHtml);
            var path = '{{ path("notification_count") }}';
                fetch(path, {'credentials': 'include'}).then(function (response) {
                response.json().then(function (json) {
                    if (json.notification>0) {
                        document.getElementById('notification-count').innerText = json.notification;
                    }
                    setTimeout(fetchNotificationCount, 5000)

                })
            }).catch(function () {
                console.log('Some error in notification script');
            })
        }
        fetchNotificationCount()
        {% endif %}
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</body>
</html>
