{% extends 'base.html.twig' %}
{% block left %}
    {% set markPage = 7 %}
    {{ include('post/main-left.html.twig') }}
{% endblock %}
{% block right %}
    {% set markPage = 7 %}
    {{ include('post/main-right.html.twig')}}
{% endblock %}
{% block middle %}
    <div class="w3-container w3-card w3-white w3-round w3-margin">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <script>
        document.getElementById("post_Twitt").innerHTML = "Edit tweet";
    </script>
{% endblock %}