{% extends 'base.html.twig' %}
    {% block left%}
        {% set markPage = 0 %}
        {{ include('post/main-left.html.twig', {'user': user, 'allUsers': allUsers}) }}
    {% endblock %}
    {% block right %}
        {% set markPage = 0 %}
        {{ include('post/main-right.html.twig', {'user': user})}}
    {% endblock %}
{% block middle %}
    {% if is_granted('ROLE_USER') %}
    <div class="w3-container w3-card w3-white w3-round w3-margin">
        {#form for input tweets#}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
    {% endif %}
    {% if posts %}
    {% for post in posts %}
        <!-- main content witch is used in show.html.twig too -->
        {{ include('post/main.html.twig') }}
        <!-- Modal for delete tweet -->
        {{ include('post/modalDelete.html.twig', {'post':post}) }}
    {% endfor %}
    {% else %}
        {% if not is_granted("ROLE_USER") %}
<div class="w3-container w3-card w3-white w3-round w3-margin" style="position:relative;"><br>
    <center>There are no twetts. Log in and be first who made tweet.</center><br><br>
</div>
        {% endif %}


    {% endif %}
{% endblock %}

