<div class="w3-container ">
    <div class=" w3-round w3-white ">
        {% if is_granted('ROLE_USER') %}
        <div class="w3-card" {% if app.user == user %} {{ "style='border: 4px solid rgba(102,213,150)'" }} {% endif %} id="leftCardProfile">
        <div class="w3-container">
            {#<p class="w3-center"><img src="" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>#}
            <p class="w3-center">{{ user.fullName }}</p>
            <hr>
            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{ user.job }}</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{ user.address }}</p>
            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{ user.birth|date('d F, Y ') }}</p>
            {%  if markPage ==1 and app.user == user%}
            <div class="post-right-buttons">
            <button class="w3-button-small w3-block w3-green w3-section" data-toggle="modal" data-target="#editProfile"><span class="glyphicon glyphicon-edit"></span></button></a>
            </div>
            {% endif %}


        </div>
        </div>
    </div>
    <br>

    <!-- Following -->
    <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
            <p>Followring</p>
            <p>
                {% for following in user.following %}
                    <a href="{{ path("all_user_tweets", {'id': following.id}) }}"><span class="w3-tag w3-theme-d5">@{{ following.username }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
    <br>

    <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
            <p>Followers</p>
            <p>
                {% for followers in user.followers %}
                    <a href="{{ path('all_user_tweets', {'id': followers.id}) }}"><span class="w3-tag w3-theme-d5">@{{ followers.username }}</span></a>
                {% endfor %}
            </p>
            </p>
        </div>
    </div>
    <br>

    <!-- Followers -->
    <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
            <p>All users</p>

            {% for user in allUsers %}
                    <a href="{{ path("all_user_tweets", {'id': user.id }) }}"><span class="w3-tag w3-theme-d5">@{{ user.username }}</span></a>
            {% endfor %}

        </div>
        <br>
        {% else %}
            <!-- Alert Box -->

            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
                <p><strong>Hey!</strong></p>
                <p>People are looking at your profile. Find out who.</p>
            </div>
        {% endif %}
    </div>
    <br>
</div>
</div>
{{ include('post/modalEditProfile.html.twig') }}
