<div class="w3-col m3" id="right-side">
    {% if is_granted('ROLE_USER') %}
        <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
                    {% if user != app.user %}
                        {% if user.followers.contains(app.user) == false %}
                            <p>Follow this user:</p>
                            <a href="{{ path('follow_user', {'id': user.id}) }}" class="btn btn-lg btn-outline-primary" id="button-fol-unf">Follow</a>
                        {% else %}
                            <p>Unfollow this user:</p>
                            <a href="{{ path('unfollow_user', {'id': user.id}) }}" class="btn btn-lg btn-outline-danger" id="button-fol-unf">Unfollow</a>
                        {% endif %}
                        {% else %}
                        <p>Number of your posts</p>
                        <h1>{{ count }}</h1>
                    {% endif %}
            </div>
            <br>
        </div>
        <br>


        <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
                <p>Users with more than 5 post</p>
                {% for user in usersWith5PostsAndMore %}
                <a href="{{ path("all_user_tweets", {'id': user.id }) }}"><span class="w3-tag w3-theme-d5">@{{ user.username }}</span></a>
                {% endfor %}
            </div>
            <br>
        </div>
        <br>
        <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
                    <p>One of most liked twett and his author</p>
                {%    if mostLikedPost.likedBy.count>0 %}
                <a href="{{ path("show_one_post", {'id': mostLikedPost.id }) }}"><span class="w3-tag w3-theme-d5">twett</span></a> from
                <a href="{{ path("all_user_tweets", {'id': userWithMostLikedPost.id }) }}"><span class="w3-tag w3-theme-d5">@{{ userWithMostLikedPost.username }}</span></a>
                {% else %}
                    <span class="w3-tag w3-theme-d5">No liked tweets</span>
                    {% endif %}
            </div>
            <br>
        </div>
        <br>
        <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
                <p>Most liked users in % </p>
                <div class="chart" style="background: conic-gradient(#FAA43A {{ chartStatistic[0]*3.6 }}deg, #5DA5DA {{ chartStatistic[0]*3.6 }}deg {{ chartStatistic[0]*3.6+chartStatistic[2]*3.6 }}deg, #B276B2 0);"></div>
                <br>
                <div id="pie-chart-percent">
                <strong class="percent orange">{{ chartStatistic[0]|round }}%</strong>
                    {% if chartStatistic[0]>0 %}
                    <span class="choice">@{{ chartStatistic[1] }}</span><br><br>
                    {% else %}
                    <span class="choice">0 likes</span><br><br>
                    {% endif %}
                </div>
                <div id="pie-chart-percent">
                <strong class="percent blue">{{ chartStatistic[2]|round }}%</strong>
                    {% if chartStatistic[2]>0 %}
                <span class="choice">@{{ chartStatistic[3] }}</span><br><br>
                    {% else %}
                    <span class="choice">0 likes</span><br><br>
                    {% endif %}
                </div>
                <div id="pie-chart-percent">
                <strong class="percent purple">{{ (100-chartStatistic[0]-chartStatistic[2])|round }}%</strong>
                <span class="choice"> others</span>
                </div>
            </div>
            <br>
        </div>
        <br>
    {% else %}
        <!-- End Right Column -->
        <div class="w3-container">
            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
                <p><strong>Hey!</strong></p>
                <p>People are looking at your profile. Find out who.</p>
            </div>
        </div>
    {% endif %}
</div>