<div class="w3-col m3" id="right-side">
    {# display follow or unfollow or number of tweets functionality #}
    {% if is_granted('ROLE_USER') %}
    {% if markPage == 1 %}
        <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
                    {% if user != app.user %}
                        {% if user.followers.contains(app.user) == false %}
                            <p>Follow this user:</p>
                            <a href="{{ path('follow_user', {'id': user.id}) }}" class="btn btn-lg btn-outline-primary" id="button-fol">Follow</a>
                        {% else %}
                            <p>Unfollow this user:</p>
                            <a href="{{ path('unfollow_user', {'id': user.id}) }}" class="btn btn-lg btn-outline-danger" id="button-unf">Unfollow</a>
                        {% endif %}
                        {% else %}
                        <p>Number of your tweets</p>
                        <h1>{{ count }}</h1>
                    {% endif %}
            </div>
            <br>
        </div>
        {% endif %}
        <br>
        {# show users with more than 5 posts #}
        <div class="w3-card w3-round w3-white w3-center"{% if markPage!=1 %} {{ "style='margin-top: -20px !important'" }} {% endif %} >
            <div class="w3-container">
                <p>Users with more than 5 tweets</p>
                {% for user in usersWith5PostsAndMore %}
                <a href="{{ path("all_user_tweets", {'id': user.id }) }}"><span class="w3-tag w3-theme-d5">@{{ user.username }}</span></a>
                {% endfor %}
            </div>
            <br>
        </div>
        <br>
        {# one of most liked tweets #}
        <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
                    <p>One of most liked tweet and his author</p>
                {%    if mostLikedPostAndUser %}
                <a href="{{ path("show_one_post", {'id': mostLikedPostAndUser['id'] }) }}"><span class="w3-tag w3-theme-d5">twett</span></a> from
                <a href=""><span class="w3-tag w3-theme-d5">@{{ mostLikedPostAndUser.username }}</span></a>
                {% else %}
                    <span class="w3-tag w3-theme-d5">No liked tweets</span>
                    {% endif %}
            </div>
            <br>
        </div>
        <br>
        {# most liked users in % #}
        <div class="w3-card w3-round w3-white w3-center" id="chart-section">
            <div class="w3-container">
                <p>Most liked users in % </p>
                <div class="chart" style="background: conic-gradient(#5DA5DA {{ chartStatistic[0]*3.6 }}deg, #FAA43A {{ chartStatistic[0]*3.6 }}deg {{ chartStatistic[0]*3.6+chartStatistic[2]*3.6 }}deg, #B276B2 0);"></div>
                <br>
                <div id="pie-chart-percent">
                <strong class="percent blue">{{ chartStatistic[0]|round }}%</strong>
                    {% if chartStatistic[0]>0 %}
                    <span class="choice">@{{ chartStatistic[1] }}</span><br><br>
                    {% else %}
                    <span class="choice">0 likes</span><br><br>
                    {% endif %}
                </div>
                <div id="pie-chart-percent">
                <strong class="percent orange">{{ chartStatistic[2]|round }}%</strong>
                    {% if chartStatistic[2]>0 %}
                <span class="choice">@{{ chartStatistic[3] }}</span><br><br>
                    {% else %}
                    <span class="choice">0 likes</span><br><br>
                    {% endif %}
                </div>
                <div id="pie-chart-percent">
                    {% if chartStatistic[0]>0 %}
                        <strong class="percent purple">{{ (100-chartStatistic[0]-chartStatistic[2])|round }}%</strong>
                        <span class="choice"> others</span>
                    {% else %}
                        <strong class="percent purple">0%</strong>
                        <span class="choice">0 likes</span><br><br>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
        <br>
    {% else %}
        <!-- Allert Box on front page for non authenticated users -->
            <div id="allert-dialog" class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
                <p>As visitor you can see all tweets.</p><p> As user you can see tweets only of users witch you follow. After like
                    like and follow, and authors or follower will be notify. </p><p>As admin you can edit and delete tweets of all users</p>
                <span class="allert-marter">2</span>
            </div>

            <div id="allert-dialog" class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
                <p>Demo accounts:</p>
                <p><u>User:</u></p><p> username: john_doe,</p><p> password: john_doe123</p>
                <p><u>Admin:</u></p><p> username: admin,<p></p> password: admin123</p>
                <span class="allert-marter">3</span>
            </div>
    {% endif %}
</div>