<div class="w3-container ">
    <div class=" w3-round w3-white ">
        {% if is_granted('ROLE_USER') %}
        {% if markPage == 1 %}
            <div class="w3-card" {% if app.user == user and markPage==1 %} {{ "style='border: 2px solid #745A85'" }} {% endif %} id="leftCardProfile">
        <div class="w3-container">
            <p class="w3-center">{{ user.fullName }}</p>
            <p class="w3-center"><img id="prof-pic" src="{{ asset("/images/profile2.jpg") }}" class="w3-circle" style="height:80px;width:80px" alt="Avatar"></p>
            <hr>
            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{ user.job }}</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{ user.address }}</p>
            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {% if user.birth is not null %}{{ user.birth|date('d F, Y ') }} {% endif %}</p>
            {%  if markPage ==1 and app.user == user%}
            <div class="post-right-buttons">
            <button class="w3-button-small w3-block w3-green w3-section" data-toggle="modal" data-target="#editProfile"><span class="glyphicon glyphicon-edit"></span></button></a>
            </div>
            {% endif %}
        </div>
        </div>
        {% endif %}

    </div>
    <br>

    <!-- Following -->
    <div id="following" class="w3-card w3-round w3-white w3-hide-small" {% if markPage!=1 %} {{ "style='margin-top: -20px !important'" }} {% endif %} >
        <div class="w3-container">
            <p>Following:</p>
                {% for following in user.following %}
                    <a href="{{ path("all_user_tweets", {'id': following.id}) }}"><span class="w3-tag w3-theme-d5">@{{ following.username }}</span>
                {% endfor %}
        </div>
        <br>
    </div><br>
    <!-- Followers -->
    <div id="followers" class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
            <p>Followers:</p>
                {% for followers in user.followers %}
                    <a href="{{ path('all_user_tweets', {'id': followers.id}) }}"><span class="w3-tag w3-theme-d5">@{{ followers.username }}</span></a>
                {% endfor %}

            </p>
        </div>
        <br>
    </div>
    <br>

    <!-- All users -->
    <div id="listOfUsers" class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
            <p id="rand-users">Some of users:</p>
            {% set count = 0 %}
            {% for user in allUsers %}
                {% if count<4 %}
                <a href="{{ path("all_user_tweets", {'id': user.id }) }}"><span class="w3-tag w3-theme-d5">@{{ user.username }}</span></a>
           {% set count = count + 1 %}
                {% endif %}
            {% endfor %}
        </div>
        <br>
        {% else %}
            <!-- Alert Box on front page of non authenicated user-->
            <div id="allert-dialog" class="w3-container notice w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
                <p><strong>HEY, WELCOME!</strong></p>
                <p>Those are some tips for using this small demo aplication.</p>
                <p>This app have some twitter functionality, but to use it, after registration you first nead to confirm your account by clicking on link that will be sent to fake SMTP server inbox.
                    So you do not neead to provide valid e-mail address, but only when you click on link provided in that mail you will be able to log in into aplication.</p>
                <p>Mail will be sent on this SMTP server: <u>https://mailtrap.io/signin</u>
                    Log in with Email: <u>sreckokuzmanovic@yahoo.com</u>, and Password: <u>srkoman</u></p>
                {#<span class="allert-marter">1</span>#}
            </div>
        {% endif %}

    </div>
    <br>
</div>
</div>

{{ include('post/modalEditProfile.html.twig') }}

<script>
    setTimeout(function(){
        $('.notice').fadeIn(3000);
    }, 500);
</script>
